<!DOCTYPE html>
<html lang="en">

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://shkola28izhevsk-r18.gosweb.gosuslugi.ru/netcat_files/45/253/png_clipart_school_bell_bellflowers_1_september_bell_leaf_backpack.png" type="image/x-icon">
  <title>Остальное</title>
</head>

<body>
<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/list/"><span style="font-weight: bold;">Весь список обучалок</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile/">
      <span style="font-weight: bold;">Проведенные опыты</span>
    </a>
  </li>

</ul>
</head>
<body>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Здесь вы можете ознакомиться с медиа по окружающему миру 1, 2, 3 классов</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="https://rutube.ru/plst/541160/">1 класс</a>
            <a class="dropdown-item" href="https://rutube.ru/plst/541047/">2 класс</a>
            <a class="dropdown-item" href="https://rutube.ru/plst/541343/">3 класс</a>
          </div>
        </li>

<h3> А такжее посмотреть интересные опыты с их объяснением
 </h3>
<script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="podgotovkakshkol/45441" data-width="100%" data-color="13B4C6" data-dark-color="39C4E8"></script>

<img src="https://sun9-42.userapi.com/impg/VPkLvUkpOd0Fn418b3xUpiVNskPd6PUw5MLKJw/8blIQfoNcbM.jpg?size=231x325&quality=95&sign=791d90be8a9a9cfb5ac57b1ee0713713&type=album" class="rounded float-start" alt="...">
<div class="mx-auto" style="width: 200px;">
  <h3>Суть опытов</h3>
</div>
<div class="ms-4">
        <img src="https://sun9-26.userapi.com/impg/b6RvbiIkwq7s74LSwuWZM4ZB2qhEB8vZqjApiw/aXVOxYfXhJU.jpg?size=210x291&quality=95&sign=a293b94f4b287b7b84470400f3fa03a4&type=album" class="rounded float-end" alt="...">
 <h4>.       Использовались: детская присыпка, обычная вода с красителем и моющее средство.</h4>
   <h4>.     На край ватной палочки добавили чистящее средство и окунули в воду,  </h4>
   <h4>.     на поверхности которой находилась детская присыпка. </h4>
   <h4>.     оверхностное натяжение, созданное от чистящего средства вытолкнуло молекулы присыпки.
 </h4>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>