<!DOCTYPE html>
<html lang="en">

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://shkola28izhevsk-r18.gosweb.gosuslugi.ru/netcat_files/45/253/png_clipart_school_bell_bellflowers_1_september_bell_leaf_backpack.png" type="image/x-icon">
  <title>Проведенные опыты</title>
</head>

<body>
<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/list/"><span style="font-weight: bold;">Весь список обучалок</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile/">
      <span style="font-weight: bold;">Проведенные опыты</span>
    </a>
  </li>

</ul>
<div id="carouselExampleControls" class="carousel slide bg-primary" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://psv4.userapi.com/s/v1/d/Z1EWkIuhdidHmlV7m6jsllfIhmVPSa_BPK5H8Z72Vk_JLR2PUkrcYnI6sQr9j0EDTa8iAVd4V_Z5yaYER9-gw2OHSBrJhgVI_jV4nJ9p0OoBwLYUz8Bm3Q/result_vKc10oi7bFM.jpg" class="mx-auto d-block w-33" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://psv4.userapi.com/s/v1/d/jT8CfXCLRjnl_U6X0FEcFl7vskL5CnIWPT_Ks7EMqTsA5Ac4ltdSwRmBhr8JE1OXVUgQBrtYTAUNDdYRy6VTFgNS5JnTLKWi2Ehhytvccao47BzP_8qScQ/result_dd_1.jpg" class="mx-auto d-block w-33" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
<div class="p-3">
<div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="https://rutube.ru/play/embed/video/5a91f49c5849f315252fc83724ed6e4f/" allowfullscreen>
  </iframe>
</div>
    </div>
<div class="mx-auto" style="width: 200px;">
  <h3>Суть опытов</h3>
</div>
<div class="ms-4">
    <h4>.       1.
Наливаем моющее средство фери в маленький сосуд.
В тазик наливаем воду, сверху наливаем масло, добавляем немного "микробов"- это пластелин, берем моющее средство, мажем на ватную палочку и касаемся масла, оно "отодвигает" микробы.
Так и работают все моющие средства. Происходит это потому что, когда я касаюсь воды, на её поверхности образуется тонкая плёнка, которая во все стороны оттесняет масло. </h4>
    <h4>2. Следущий опыт может быть полезен вам.
Если вы когда-нибудь прольете зеленку, на стол, пол, то её можно легко вывести с помощью нашатырного спирта. Так на салфетке совсем не осталось следа. </h4>
    <h4>3. Сейчас мы будем превращать воду в "кровь", а потом "кровь" обратно в воду. Берём кристаллики марганцовки, растворяем их в воде , дальше добавляем перекись водорода и уксус, цвет стал снова прозрачным. А ещё это называется нейтрализация. </h4>
    <h4>4. Для следующего опыта нам нужна сода и уксус, когда они смешаются пойдёт бурная реакция с пеной, эту реакцию часто используют в кулинарии. Знаете что выделяется когда там всё кипит?  Углекислый газ, который образуется на дне стаканчика , и кстати это то, что мы с вами выдыхаем, а вдыхаем мы кислород. Я могу показать наглядно, что это углекислый газ, возьмём свечку и как бы выльем газ, который есть на дне стакана, на свечку, она гаснет. </h4>
    <h4>5. А теперь я покажу более наглядно, почему в опыте с тазиком, фери тонким слоем лежит на воде, так же как и масло на воде.</h4>
    <h4>Потому что жидкости разные по плотности. Масло "ложится" на воду.</h4>

  <img src="https://i.cdn01.ru/files/users/images/f8/f0/f8f0e52cac6eb69637a5f744a3fa187c.jpg" class="rounded mx-auto d-block" alt="...">



<h4>6. Вы знаете что такое лава-лампа ? Если и не знаете, то я покажу.
Опускаясь на дно стакана, уксус реагирует с содой и выделяется углекислый газ, который выталкивается из стакана и поднимает пузырьки.</h4>
  <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-post="chetadelau/729" data-width="100%" data-color="13B4C6" data-dark-color="39C4E8"></script>
<h4>  7. Вы когда нибудь плавали в соленом море? Вы знали, что если оно очень соленое, то вода сама будет выталкивать вас , потому что соль, которая содержиться в воде, будет держать вас на плаву, но вы с этим не экспериментируйте и далеко не уплывайте, а я покажу как вода может выталкивать любой предмет .
Возьмём два стакана и яйцо, в первый стакан нальём воду и опустим яйцо, оно будет на дне.
Второй стакан с солёным раствором, добавим  яйцо, оно не тонет.
Это называется плотность, и тут из-за соли плотность воды увеличилась. </h4>
  <img src="https://i.pinimg.com/736x/4d/ef/d1/4defd1e21638461148b88a3853003dc6.jpg" class="img-fluid" alt="...">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>